<h3>My Cart</h3>

<a routerLink="/shipping">
  Shipping Prices
</a>

<div class="cart-item" *ngFor="let item of items">
  <p> {{ item.name }} </p>
  <p> {{ item.price | currency: 'AOA ' }} </p>
</div>

<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit(checkOutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button">
    Purchase
  </button>
</form>